---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-4xl text-center">
    Whereas disregard and contempt for human rights have resulted
  </h1>
</BaseLayout>
