@import "https://unpkg.com/open-props";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(60, 0%, 98%);
  --text-foreground: hsl(240, 3%, 10%);

  /* accent colors */
  --accent-light: hsl(29, 100%, 75%);
  --accent-neutral: hsl(29, 100%, 50%);
  --accent-dark: var(--orange-11);
  --accent-overlay: hsla(29, 100%, 50%, 0.33);

  /* gradient stops */
  --gradient-stop-1: var(--accent-light);
  --gradient-stop-2: var(--accent-neutral);
  --gradient-stop-3: var(--accent-dark);

}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(24, 10%, 8%);
    --text-foreground: hsl(240, 3%, 96%);

    --accent-light: hsl(29, 61%, 24%);
    --accent-neutral: hsl(29, 100%, 50%);
    --accent-dark: hsl(29, 100%, 71%);

    --gradient-stop-1: var(--accent-dark);
    --gradient-stop-2: var(--accent-neutral);
    --gradient-stop-3: var(--accent-light);
  }
}
*/
.dark {
  --background: hsl(24, 10%, 8%);
  --text-foreground: hsl(240, 3%, 96%);

  /* accent colors for dark mode */
  --accent-light: hsl(29, 95%, 25%);
  --accent-neutral: var(--orange-5);
  --accent-dark: hsl(29, 100%, 71%);

  /* gradient stops for dark mode */
  --gradient-stop-1: var(--accent-dark);
  --gradient-stop-2: var(--accent-neutral);
  --gradient-stop-3: var(--accent-light);
}

.grain-bg {
  background:
    /* noise */
    url('/assets/backgrounds/noise.png') top center/220px repeat,
    /* default background */
    var(--background);
  background-blend-mode: overlay, normal;
}

.grain {
  background: url('/assets/backgrounds/noise.png') top center/220px repeat;
  background-blend-mode: overlay;
}

body {
  color: var(--text-foreground);
  background:
    /* noise */
    url('/assets/backgrounds/noise.png') top center/220px repeat,
    /* default background */
    var(--background);
  background-blend-mode: overlay, normal;
}

/* deactivate grain for high contrast users */
@media (forced-colors: active) {
  body {
    background: var(--background);
    transition: background var(--theme-transition);
  }

  :root {
    --gradient-stop-1: var(--accent-neutral);
    --gradient-stop-2: var(--accent-neutral);
    --gradient-stop-3: var(--accent-neutral);
  }
}